html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background-color: #00ACC1;
}

.material-icons {
    font-size: 57px !important;
}

.md-primary {
    color: #ba0000;
}

.message-card {
    border-radius: 10px;
    max-width: 375px;
    padding: 10px;
    font-family: Arial;
    background-color: #9575CD;
}