html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background-color: #00ACC1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(http://i0.kym-cdn.com/photos/images/facebook/000/114/193/1298574546091.jpg);
}

.material-icons {
    font-size: 57px !important;
}

.md-primary {
    color: #ba0000;
}

.message-card {
    border-radius: 10px;
    max-width: 75%;
    padding: 10px;
    font-family: Arial;
    background-color: #9575CD;
}